/problema1/Proyecto1/nbproject/private/
/problema4/Ejemplo 4/nbproject/private/
/problema4/Ejemplo 4/build/
/problema1/Proyecto1/build/
/problema2/Problema2/nbproject/private/
/problema3/Ejercicio3/nbproject/private/
/problema3/Ejercicio3/build/
/problema2/Problema2/build/
